body{
    margin:0%;
    cursor: none;
}
div {
    margin:0%;
}
#board {
    background-color: black;
    position: relative;
    margin: auto;
    margin-top: 5%;
    width: 1000px;
    height: 600px;
}
#ball{
    background-color: rgb(206, 84, 84);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
}

#bar-container{
    position: relative;
    width: 150px;
    height: 10px;
    background-color: brown;
    top: 580px;
}

.barpart{
   flex-grow: 1;
}

#bar-center{
    flex-grow: 3;
    background-color: steelblue;
    z-index: 1;
}