body{
    margin:0%;
}
div {
    margin:0%;
}
#board {
    background-color: black;
    position: relative;
    margin: auto;
    margin-top: 5%;
    width: 1000px;
    height: 600px;
}
#ball{
    background-color: rgb(206, 84, 84);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: relative;
    left: 125px;
    top: 40px;

}
